@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/play-v19-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2');
}

:root {
  --color-primary-white: #ffffff;
  --color-primary-blue: #2b7fff;
  --color-primary-dblue: #011c44;
  --color-secondary-gr1: #4a4a4a;
  --color-secondary-gr2: #747272;
  --color-secondary-lblue: #011f4a;
  --color-secondary-yelow: #ffd02b;
}

body {
  color: var(--color-primary-dblue);
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400px;
  line-height: 1.5;
}
ul {
  list-style-type: none;
}

.button {
  color: #ffffff;
  border-radius: 32px;
  background-color: var(--color-primary-blue);
  border: var(--color-primary-blue);
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  cursor: pointer;
}

.button:hover {
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 32px;
  border: 2px solid #2b7fff;
  cursor: pointer;
}

.link {
  color: var(--color-primary-blue);
  font-family: 'Roboto';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.link:hover {
  color: var(--color-primary-dblue);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.socsety {
  background-color: #ffffff;
}

h1 {
  color: var(--color-primary-blue);
  font-family: Play;
  font-size: 140px;
  font-style: normal;
  font-weight: 700;
  line-height: 114px; /* 81.429% */
  text-transform: capitalize;
}
